<form action = "regist" method = "post">
    <label>username:</label>
    <input type = "text" name = "username"><br/>
    <label>password:</label>
    <input type = "password" name = "password"><br/>
    <input type = "submit" value = "Submit">
<form>
